/* #region Default Style Properties*/
body {
    background-color: black;
    color: white;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.mui-table>tbody>tr>td, .mui-table>tbody>tr>th, .mui-table>tfoot>tr>td, .mui-table>tfoot>tr>th, .mui-table>thead>tr>td, .mui-table>thead>tr>th {
    padding: .5rem;
}

.mb {
    margin-bottom: 70px;
}

.fa-det {
    font-size: 1.5em;
}

.fa-sun {
    --fa-secondary-opacity: 1;
    color: gold;
}

.fa-sunrise {
    --fa-secondary-opacity: 1;
    --fa-secondary-color: gold;
}

.fa-sunset {
    --fa-secondary-opacity: .7;
    --fa-secondary-color: gold;
}

.fa-temperature-high {
    --fa-secondary-opacity: 1;
    --fa-secondary-color: white;
    --fa-primary-color: red;
}

.fa-temperature-low {
    --fa-secondary-opacity: 1;
    --fa-secondary-color: white;
    --fa-primary-color: #2389da;
}

.fa-cloud-sun-rain {
    --fa-secondary-opacity: .7;
    --fa-secondary-color: gold;
}

.fa-cloud-sun {
    --fa-secondary-opacity: .7;
    --fa-secondary-color: gold;
}

.fa-cloud-drizzle {
    --fa-secondary-opacity: .7;
    --fa-secondary-color: #2389da;
}

.fa-cloud-rain {
    --fa-secondary-opacity: .7;
    --fa-secondary-color: #2389da;
}

.fa-cloud-showers-heavy {
    --fa-secondary-opacity: .7;
    --fa-secondary-color: #2389da;
}

.mis {
    --fa-primary-opacity: .7;
}

.mui-container-fluid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.mui-container-fluid:after, .mui-container-fluid:before {
    content: " ";
    display: table;
}

.mui-container-fluid:after {
    clear: both;
}

@media (min-width: 992px) {
    .ml-lg-6 {
        margin-left: 1.5rem;
    }

    .mr-lg-6 {
        margin-right: 1.5rem;
    }
}
/* #endregion */